*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
    height:100%;
}

body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    font-family:'Poppins',sans-serif;
    background:#f4f9ff;
}

header{
background:#0d47a1;
color:white;
padding:20px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 30px;
}

h1{
font-family:'Montserrat',sans-serif;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
justify-content: center;
}

nav a{
text-decoration:none;
color:white;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:#90caf9;
}

.hero{
position:relative;
}

.hero img{
width:100%;
height:500px;
object-fit:cover;
}

.hero-text{
position:absolute;
top:50%;
left:10%;
transform:translateY(-50%);
color:white;
}

.hero-text h2{
font-size:3rem;
}

.btn-primary{
background:#1565c0;
color:white;
padding:12px 25px;
border:none;
border-radius:8px;
text-decoration:none;
display:inline-block;
margin-top:10px;
}

.btn-primary:hover{
background:#0d47a1;
}

.btn-secondary{
background:#64b5f6;
color:white;
padding:10px 20px;
border-radius:8px;
text-decoration:none;
}

.productos{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(280px, 350px));
    justify-content:center;
    gap:25px;
}

.card{
background:white;
padding:20px;
border-radius:15px;
text-align:center;
box-shadow:0 3px 12px rgba(0,0,0,.1);
min-height: 400px;
}

.card img{
width:100%;
height:250px;
object-fit:cover;

}

.detalle{
display:flex;
gap:40px;
padding:50px;
}

.detalle img{
width:400px;
border-radius:10px;
}

.carrito,
.perfil,
.historial{
padding:40px;
}

footer{
background:#0d47a1;
color:white;
text-align:center;
padding:20px;
margin-top:auto;
}
.categorias{
    padding:50px;
    text-align:center;
}

.categorias-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    margin-top:30px;
}

.categoria-card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    text-decoration:none;
    color:black;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
    transition:.3s;
}

.categoria-card:hover{
    transform:translateY(-5px);
}

.categoria-card img{
    width:100%;
    height:500px;
    object-fit:cover;
}

.categoria-card h3{
    padding:15px;
    color:#0d47a1;
}